.textoscomponents{
    font-weight: bold !important;
    text-decoration: none !important;

}
.imagem{
    background-image: url(https://media1.giphy.com/media/13FrpeVH09Zrb2/giphy.gif?cid=ecf05e479pdx4t26w53raknr11k3jhw28k6u1ax0ejc5mhxg&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}


.text-decorator-none{
    text-decoration: none !important;
    color: black !important;
}
.botaologar{
    background-color: black !important;
}