.banner{
    text-align: center;
    width: 100%;
}
.img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.botao1{
    background-color: #fff !important;
    color:blue !important;
    margin-right: 16px !important;
    
}

.botao2{
    background-color: #03045e !important;
    color: #fff !important;
}

.h1{
    color: #03045e;
     font-family: Arial;
 }
 .h3{
    color: #03045e;
     font-family: Arial;

 }