.cursor{
    cursor: pointer;
    color: white;
}
.text-decorator-none{
    text-decoration: none !important;
    color: white !important;
}
.barra{
    background-color: #ae00ff;
}
.botoes{
    margin: 0 auto;
}