@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bangers&display=swap');
.cursor{
    text-align: center !important;
    cursor: pointer;
    color: white !important;
}
.text-decorator-none{
    text-decoration: none;
    color: white !important;
}
.barra{
    background-color: #03045e !important;
    text-decoration: none !important;
}
.botoes{
    margin: 0 auto;
}
.blog{
    font-size: 2rem;
    width: 30vw;
    font-family: 'Bangers', cursive;
}

.sair{
    cursor: pointer;
    text-align: end;
}

.sair:hover{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #0001209e;
    color: #fff;
}