
.box1{    
    background-color: #03045e;
    color:white !important;
}
.box2{
    background-color: #03045e;
    color:white !important;
}

.redes{
    padding: 10px;
    font-size: 60px !important;
    color: white !important;
}
.textos{
    color: white !important;
}