.box1{
    background-color: rgb(82, 82, 82);
    height: "120px";
    color:white !important;
}
.box2{
background-color: rgb(82, 82, 82);
color: white !important;

}

.redes{

    font-size: 60px !important;
    color: white !important;
}
.textos{
    color: white !important;
}